<div class="contact-form">
  <form name="contact-form" method="POST">
    <h2>Contact Information</h2>
    <div id="email" class="clearfix large_form">
      <input type="email" value="" name="email" id="email" placeholder="Your Email Address..." />
    </div>

    <div id="first_name" class="clearfix large_form">
      <input type="text" value="" name="first_name" id="first_name" placeholder="Your name as it appears on your credit card" />
    </div>

    <div id="phone_number" class="clearfix large_form">
      <input type="number" value="" name="phone_number" id="phone_number" placeholder="Phone Number..." />
    </div>

    <div id="street_address" class="clearfix large_form">
      <input type="text" value="" name="street_address" id="street_address" placeholder="Street Address..." />
    </div>

    <div id="city_name" class="clearfix large_form">
      <input type="text" value="" name="city_name" id="city_name" placeholder="City Name..." />
    </div>

    <div id="state" class="clearfix large_form">
      <input type="text" value="" name="state" id="state" class="large" size="30" placeholder="state/Province..." />
      <input type="number" value="" name="zip_code" id="zip_code" placeholder="Zip Code..." />
    </div>

    <div id="country" class="clearfix large_form">
      <select size="1" autocomplete="shipping country" data-trekkie-id="shipping_country_field" data-backup="country" class="field__input field__input--select" aria-required="true" name="checkout[shipping_address][country]" id="checkout_shipping_address_country">
        <option data-code="US" value="Select Country">select Country</option>
        <option data-code="US" value="United States">United States</option>
        <option data-code="CA" value="Canada">Canada</option>
        <option data-code="NZ" value="New Zealand">New Zealand</option>
        <option data-code="AU" value="Australia">Australia</option>
        <option disabled="disabled" value="---">---</option>
        <option data-code="AU" value="Australia">Australia</option>
        <option data-code="CA" value="Canada">Canada</option>
        <option data-code="FR" value="France">France</option>
        <option data-code="DE" value="Germany">Germany</option>
        <option data-code="IE" value="Ireland">Ireland</option>
        <option data-code="IL" value="Israel">Israel</option>
        <option data-code="IT" value="Italy">Italy</option>
        <option data-code="MX" value="Mexico">Mexico</option>
        <option data-code="NL" value="Netherlands">Netherlands</option>
        <option data-code="NZ" value="New Zealand">New Zealand</option>
        <option data-code="NO" value="Norway">Norway</option>
        <option data-code="ZA" value="South Africa">South Africa</option>
        <option data-code="ES" value="Spain">Spain</option>
        <option data-code="GB" value="United Kingdom">United Kingdom</option>
        <option data-code="US" value="United States">United States</option></select>
    </div>
  </form>
</div>