<div class="container {{testimonials-bg-color-class}}">
  <div class="columns">
    <div class="column is-full has-text-centered">
      <h3 class="no-caps">Testimonials</h3>
    </div>
  </div>
  <div class="is-slick-testimonials">

    <div class="add-mar">
      <div class=" has-text-centered box">
        <p>
          "It just relieved the pain in my finger joints. When I moved my fingers, I typically had joint pain. After
          taking BrocElite for about two days, my finger pain was gone."
        </p>
          <p class="larger-bold">Missy M.</p>
      </div>
    </div>

    <div class="add-mar">
      <div class=" has-text-centered box">
        <p>
          "I have to tell you that if there is one single supplement that I take that makes me feel amazing it is
          BrocElite. My husband and I started taking them and cannot believe how amazing they make us feel. My
          husband attributed them to helping his feet not hurt when he&#39;s on them for 14- 16 hours a day and his
          back feels better. I feel better completely. We are amazed and are big fans and will continue taking them.
          Thank you for this amazing product!"
        </p>
        <p class="larger-bold">Vickie G.</p>
      </div>
    </div>

    <div class="add-mar">
      <div class=" has-text-centered box">
        <p>
          "I'm an 80 year old bemoaning stiff joints.  I began taking BrocElite and within days I’m walking
          normally and climbing stairs like I’m a 40 year old.  I am in love with this product and I take two
          in the morning and two in the evening. I will use it for the rest of my life!"
        </p>
        <p class="larger-bold">Madeline T.</p>
      </div>
    </div>

    <div class="add-mar">
      <div class=" has-text-centered box">
        <p>
          "I've always taken sleep for granted, but my wife, who stirs easily, does not. In our early
          marriage, I slept quietly and never disturbed her. At some point in my late 30s, however, I
          started to snore. Then a friend gave me BrocElite. I started taking it, knowing it would reduce
          inflammation but never expecting that it would impact my snoring. Much to my surprise, it did! I
          haven't snored since. My wife was so delighted to get uninterrupted sleep again! This is the only
          testimonial I've ever written for a product."
        </p>
        <p class="larger-bold">Corban A.</p>
      </div>
    </div>

    <div class="add-mar">
      <div class=" has-text-centered box">
      <p>
          "I love it and have told my friends about.  I feel more alert and have more of a zip in my step.  I feel better
          in the morning when I get up and feel like I have more energy.  I just feel better all around.  Its been a
          noticeable change."
        </p>
        <p class="larger-bold">Will R.</p>
      </div>
    </div>

    <div class="add-mar">
      <div class=" has-text-centered box">
        <p>
          "In 2005, I had a severely botched-up orthoscopic  gall bladder surgery where I almost bled
          to death.  Ever since then, I've had extreme diarrhea problems that dominated my life.
          Once I started taking BrocElite, my life is now manageable and so much better.  I can't say
          enough about this product.  BrocElite has given me my life back!"
        </p>
        <p class="larger-bold">Barbara R.</p>
      </div>
    </div>
    <div class="add-mar">
      <div class=" has-text-centered box">
        <p>
          "So, I originally tried this, because I read an article about how broccoli sprout extract can help a certain
          brain condition that I have. I don't know if it has helped my brain, but this stuff has totally helped my
          digestion! So, TMI, but I had trouble with loose stools for the longest time. Nothing seemed to help. So far
          I've been taking BrocElite Plus for about 3-4 months and my digestive issues are seemingly fixed (knock
          on wood).  This has been like a miracle for me!"
        </p>
        <p class="larger-bold">Kristin B.</p>
      </div>
    </div>

    <div class="add-mar">
      <div class=" has-text-centered box">
        <p>
          "I have been using this product for 3-4 months now, and it is amazing at removing toxins from the body,
          especially heavy metals. I had been getting vertigo quite often and would get very sick, but since using
          this product I haven't had any episodes. Great for the gut too!"
        </p>
        <p class="larger-bold">Jeremy L.</p>
      </div>
    </div>

    <div class="add-mar">
      <div class=" has-text-centered box">
        <p>
          "I'm a 75 year old US Marine, prostate cancer survivor with U.S. govt issues artificial knee,
          pedicle screw &amp; rod implants at L3, L4, L5. I started taking BrocElite a year ago to reduce my
          pain. Today I’m pain free. My body – every part of it – is working better today than it did 25
          years ago! My miracle supplement!"
        </p>
        <p class="larger-bold">Oliver N.</p>
      </div>
    </div>


  </div>
</div>

<script>
$(document).ready(function(){

  $("#button1").click(function() {
    $('html, body').animate({
        scrollTop: $("#scrollto1").offset().top
    }, 1000);
  });

  $('.is-slick-testimonials').slick({
    autoplay: true,
    autoplaySpeed: 6000,
    infinite: true,
    slidesToShow: 3,
    slidesToScroll: 1,
    responsive: [
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 500,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          centerMode: true,
          centerPadding: '60px'
        }
      },
      {
        breakpoint: 400,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          centerMode: true,
          centerPadding: '80px'
        }
      }
    ]
  });
});
</script>
