<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:700,600,400,300|Source+Serif+Pro:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.7.6/css/main-style.css?t=2020-02-13-10"><link rel="stylesheet" href="{{ 'pagefly.78c40a1d.scss.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-kxynE QJnSk pf-e4ad39b2"><div data-pf-type="Layout" class="pf-9c9b84be"><div data-container="true" class="sc-fnwBNb irilUZ pf-e598ed52" data-pf-type="Section"><div class="sc-cugefK iKePrP" style="max-width: 1170px;"><div class="sc-sdtwF iIwwEJ pf-6db0f778 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-drKuOJ bejofX pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--9"><div class="sc-gRnDUn fJTCAC pf-2d699cca" data-pf-type="Column"><p class="sc-dREXXX gMKZx pf-57fcc893" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-902a66b9"><span style="font-weight: bold; font-style: italic;">If Old Age is Wreaking Havoc on Body, Mind and Soul:</span></span></p><p class="sc-dREXXX gMKZx pf-48d5035b" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-680c7783">Breakthrough “DNA Whisperer” 
<br>Treatment Holds the Key to Everlasting 
<br>Youth!</span></p><p class="sc-dREXXX gMKZx pf-137480f3" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-9ad3d0c1">Clinical studies show this miracle pill RESTORES your joints, body fat, blood pressure, skin, and blood sugar to the younger you. Reboot your aging brain as you’ll feel your energy skyrocket 457%. Results start in as little as 24 hours.</span></p><p class="sc-dREXXX gMKZx pf-ce70c1d1" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-67cfc00b">Hi, my name is David Roberts. 
<br>
<br>In April 2012, my precious wife Mara was diagnosed with breast cancer. 
<br>
<br>Me and my other 3 colleagues were scientists and medical practitioners from John Hopkins and Stanford, and we were fiercely determined to find a solution. 
<br>
<br>And thus began a 5 year roller-coaster journey. <br></span></p><picture class="sc-hgHYgh ljIkgU pf-9ab578b5" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-6ac47497-cca3-45f1-a0b2-8c4b98cc32d8--plaque-image-David.jpg?8480"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-6ac47497-cca3-45f1-a0b2-8c4b98cc32d8--plaque-image-David.jpg?8480"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-6ac47497-cca3-45f1-a0b2-8c4b98cc32d8--plaque-image-David_800x533.jpg?8480&resized"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-6ac47497-cca3-45f1-a0b2-8c4b98cc32d8--plaque-image-David_400x267.jpg?8480&resized 1x, https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-6ac47497-cca3-45f1-a0b2-8c4b98cc32d8--plaque-image-David_850x850.jpg?8480&resized 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-6ac47497-cca3-45f1-a0b2-8c4b98cc32d8--plaque-image-David_400x267.jpg?8480&resized 1x, https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-6ac47497-cca3-45f1-a0b2-8c4b98cc32d8--plaque-image-David.jpg?8480 2x"><img src="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-6ac47497-cca3-45f1-a0b2-8c4b98cc32d8--plaque-image-David.jpg?8480" alt="cupcakes"></picture><p class="sc-dREXXX gMKZx pf-e4935d18" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-303373bb">We tested her cells in the lab, trying to find the nutrients that will create the most impact. 
<br>
<br>After much trial and error, we realized that a magical compound known as the DNA Whisperer may be key to her recovery. Indeed, 10,0003 scientific publications has sung its healing praises to date. 
<br>
<br>However, not even Big Pharma has ever successfully stabilized the nutrient. So resolved to do it on our own, we scrambled in a race against time. 
<br>
<br>Alas... 
<br>
<br>In 2017, Mara passed away before we could make the DNA Whisperer in pill form. 
<br>
<br>Yet, our efforts were not in vain. 
<br>
<br>You see, like a kernel of seed that falls to the ground and dies in order for plants to grow...&nbsp;&nbsp;</span></p><p class="sc-dREXXX gMKZx pf-8754cee4" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-6e35b273"><span style="font-weight: bold;">Mara’s Death Was a Gift to the World! </span></span></p><p class="sc-dREXXX gMKZx pf-f0830bcd" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-ea9caf41">Because even after this sad setback, we pressed on. 
<br>
<br>Dedicated to a newfound cause of ridding the world of the anguish that a broken down body brings. 
<br>
<br>And finally, just mere months later...  we successfully isolated the DNA Whisperer…&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-3c4d1e87" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-0edf4166"><span style="font-weight: bold;">A scientific breakthrough LIGHT YEARS Beyond Big Pharma’s Domain&nbsp;</span><br></span></p><p class="sc-dREXXX gMKZx pf-ac207911" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-714e5fd8">Really.... When people above 50 consume the DNA Whisperer, they experience all kinds of health miracles. In their own words... <br><br><span style="font-style: italic;">&nbsp; &nbsp; &nbsp; “I love it and have told my friends about. I feel more alert and have more of a zip in <br>&nbsp; &nbsp; &nbsp; &nbsp;my step. I feel better in the morning when I get up and feel like I have more energy. <br>&nbsp; &nbsp; &nbsp; &nbsp;I&nbsp;just feel better all around. It’s been a noticeable change.”</span><br><span style="font-weight: bold;">&nbsp; &nbsp; &nbsp; &nbsp;-Will R., September, 2018 
<br></span>
<br><span style="font-style: italic;">&nbsp; &nbsp; &nbsp; “I have been using this product for 3-4 months now, and it is amazing at removing <br>&nbsp; &nbsp; &nbsp; &nbsp;toxins from the body, especially heavy metals. I had been getting vertigo quite often <br>&nbsp; &nbsp; &nbsp; &nbsp;and would get very sick, but since using this product I haven't had any episodes. Great <br>&nbsp; &nbsp; &nbsp; for the gut too!”</span> 
<br><span style="font-weight: bold;">&nbsp; &nbsp; &nbsp; -Jeremy L., June 2019 
<br></span>
<br><span style="font-style: italic;">&nbsp; &nbsp; &nbsp; “I’m a 75 year old US Marine, prostate cancer survivor with U.S. govt issues artificial <br>&nbsp; &nbsp; &nbsp; &nbsp;knee, pedicle screw & rod implants at L3, L4, L5. I started taking the product a year <br>&nbsp; &nbsp; &nbsp; &nbsp;ago to reduce my pain. Today I’m pain free. My body – every part of it – is working <br>&nbsp; &nbsp; &nbsp; better today than it did 25 years ago! My miracle supplement!”</span> 
<br><span style="font-weight: bold;">&nbsp; &nbsp; &nbsp; -Oliver N., July 2019 
<br></span>
<br>Are you starting to get excited yet? 
<br>
<br>Hello. Again, My name’s David Roberts. 
<br>
<br>Me and my partners from John Hopkins, Stanford and other prestigious universities run Epiceutical Labs, a NutriGenetics company. 
<br>
<br>I admit it’s a fancy name. But basically, NutriGenetics is the science of using nutritional supplements to affect changes in your genes. 
<br>
<br>Specifically, we focus on stopping and reversing aging. Indeed, Epiceutical Labs have patented breakthroughs that not only increase life-span but health-span as well. 
<br>
<br>This means you won't just live to a ripe old age... Every single one of those years will be FILLED with vigor, freedom and joy. 
<br>
<br>And this possibly THE most significant anti-aging discovery in history
<br>
<br>&nbsp; &nbsp; &nbsp; •Backed by 10,003 publications from 33 different countries. 
<br>&nbsp; &nbsp; &nbsp; •Health miracles as long as a grocery list for a family of 5. 
<br>&nbsp; &nbsp; &nbsp; •An astonishing compound that wasn’t readily available in the marketplace...&nbsp; &nbsp; &nbsp; &nbsp;<br>&nbsp; &nbsp; &nbsp; Until now. 
<br>
<br>Before that, let me ask you.&nbsp;&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-65d509ce" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-ebad2308">Do You Feel Betrayed By Your Body?</span></p><p class="sc-dREXXX gMKZx pf-10209ca6" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-3d8073c6">Do you go green with envy when the people around you are not subjected to the daily ritual of pills that you’re on? 
<br>
<br>Do you feel uncomfortable when you start forgetting everyday stuff? When your spouse tells you everything is ok but <span style="font-weight: bold;">you can see in her eyes</span>, that it’s not? 
<br>
<br>Are you ashamed that you’re <span style="font-style: italic; font-weight: bold;">actually </span><span style="font-weight: bold;">jealous </span>of your own children, who have boundless energy like bunnies – possessing an unstoppable zest for life?
<br>
<br>If that’s the case, I have great news for you. 
<br>
<br>Let me tell you about the mind-blowing DNA Whisperer nutrient… Where you’ll experience:
<br>
<br>&nbsp; &nbsp; &nbsp; •Being pleased as a punch you have a “pep in your step”.. 
<br><span style="font-weight: bold;">&nbsp; &nbsp; &nbsp;&nbsp;</span>•<span style="font-weight: bold;">HbA1c numbers so stunning</span> it’ll make your physician fist-pump in the air and <br>&nbsp; &nbsp; &nbsp; &nbsp;say “yes!” – without eating bland tasteless “friendly” food.
<br>&nbsp; &nbsp; &nbsp; •A life without fear of memory loss. Start remember vital details like names, <br>&nbsp; &nbsp; &nbsp; &nbsp;bank accounts and key events again.
<br>&nbsp; &nbsp; &nbsp; •Moving without pain, with your limb limber and soft.&nbsp;&nbsp;<br>&nbsp; &nbsp; &nbsp; •Freedom from a suffocating cloak of dull fatigue, casting it off as a <span style="font-weight: bold;">jolt of&nbsp; &nbsp; &nbsp; &nbsp; <br>&nbsp; &nbsp; &nbsp; &nbsp;energy</span>&nbsp;fills up your body like a ball of lightning.&nbsp;</span></p><p class="sc-dREXXX gMKZx pf-3e50c72a" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-05be6243"><span style="font-weight: bold;">And All This Without Dangerous Prescription Drugs And Nasty Side Effects</span></span></p><p class="sc-dREXXX gMKZx pf-687f0869" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-2c4b9e69">The more you read this, the more your body is <span style="font-weight: bold;">filled with hope</span>. 
<br>
<br>Because our DNA Whisperer breakthrough is supported from exciting news coming from the cutting edge Harvard Medical School:
<br>
<br>They described how part of a simple “magic youth switch”… in just 24 hours… caused <span style="font-style: italic; font-weight: bold;">total age reversal in people</span>.
<br>
<br>Mental functions were restored…  Physical functions were revived… Even emotional functions were rejuvenated…
<br>
<br>It sounds like something from a myth. A Fountain of Youth fairy tale. <span style="font-weight: bold;">But it’s real…
</span><br>
<br>In one of their amazing experiments, a geriatric mouse ran nonstop for so long that it <span style="font-weight: bold;">broke the lab treadmill!</span>
<br>
<br>The machine wasn’t built to go more than 1.9 miles.
<br>
<br><span style="font-weight: bold;">It’s the equivalent of you taking a simple treatment… pulling on a pair of sneakers… plunging yourself in an Ironman Triathlon at age 77…</span>&nbsp;&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-440f3ddf" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-d345576f"><span style="font-weight: bold; font-style: italic;">…and beating the huffing-and-puffing 21-year-olds as you cross the finish line.</span></span></p><p class="sc-dREXXX gMKZx pf-fffa9154" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-a279c709">You might ask, “But that’s just mice, right?”
<br>
<br>Good point. Because…
<br>
<br><span style="font-weight: bold;">For a brief time, we saw these results only in animals… Until recently…</span>
<br>
<br>Scientists have begun tests with humans. And they’re working…
<br>
<br>In 2017, Canadian scientists conducted an 8-week randomized, double-blind, placebo-controlled clinical trial treatment to reverse the aging of 140 people. That’s the gold standard of medical trails.  
<a href="https://www.nature.com/articles/s41598-019-46120-z" target="_self"><br>
<br></a>Needless to say, it was a wild success – With increased energy levels and decreased inflammation across the board.<a href="https://www.nature.com/articles/s41598-019-46120-z" target="_self"> 
</a><br>
<br>To further seal its monumental impact, the study was reviewed by the Natural Health Product Directorate, Health Canada and a research ethics board…
<br>
<br>And was given a united thumbs up!
<br>
<br>Meanwhile, something curious was brewing across the pond. 
<br>
<br>European Scientists at a breakthrough study sponsored by the Swedish Research Council saw similar results…
<br>
<br>They gave the compound to volunteers and, by one scientific measurement for decision-making, <span style="font-weight: bold;">their brains became 72% more powerful</span>. They reported their memory, decision-making, and focus all improved.
<br>
<br>Not only that… 
<br>
<br>According to medical journal <span style="font-style: italic;">Arthritis and Rheumatism</span>, The researchers from the University of East Anglia in the U.K. has discovered the DNA Whisperer lowers pain from overworked joints to just half of what it was before!
<a href="https://www.webmd.com/arthritis/video/rippe-arthritis-any-age"><br></a>
<br>Again, in just days.
<br>
<br>And that’s 3 studies OUT a whopping 10,003 scientific publications studying the compound. 
<br>
<br>My friend, I’ll cut to the chase.&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-453101b4" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-2f8c0ae9"><span style="font-weight: bold;">The DNA Whisperer is Reversing Age.</span></span></p><p class="sc-dREXXX gMKZx pf-ea6162f6" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-94ecd52b">Let me repeat that…
<br>
<br>These treatments are NOT just making people “feel better” or helping them “age better.” No…
<br>
<br><span style="font-weight: bold;">They are reversing aging at a biological level!
<br></span>
<br>It’s finally come true…
<br>
<br>As professor of genetics Dr. David Sinclair at Harvard Medical School says, 
<br> “By the turn of the next century, a person who is 122 on the day of his or her death may be said to have lived a full, though not particularly long, life. We will look back with sadness on the time in our history in which it was not so.”
<br>
<br>Imagine that.... When living till 122 is the norm... Where perfect health follows you for the rest of your days. 
<br>
<br>Better brain power and overworked joints becoming free from pain, however, are just the beginning. As you’ll soon see, scientists have figured out a way to reverse aging in <span style="font-weight: bold;">every single cell of your body</span>.
<br>
<br>I’ll reveal what the DNA Whisperer stands for in a moment. But the most important thing for you to know is, this technology has been assembled…
<br>
<br>…into this new capsule.
<br>
<br>I’ve been quietly using it. So have my customers. But it’s time for the rest of the world to know about the DNA Whisperer.&nbsp;&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-fcc1ca56" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-6db6e4b4">I predict, in just a couple years, your doctor visits may never be the same again.&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-6d24f858" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-6335d0db">Instead of anxiety, those using the DNA Whisperer will get an AVALANCHE of <span style="font-weight: bold;">good news.
</span><br>
<br>If you get to test this revolutionary treatment, you’ll saunter into the doctor’s office…
<br>
<br>You’re ACTUALLY looking forward to getting tested. Brimming with confidence you’re in perfect health. 
<br>
<br>Grinning from ear-to-ear as you feel as energetic as a gazelle in spring. 
<br>
<br>You admit your knees, lower back, and knuckles feel brand-new because<span style="font-weight: bold;"> your aching joints will feel their pain VANISHING…
</span><br>
<br>As you’re having a chat, you’re picking up the smallest details in your chat with the doctor… You realize your brain fog is no longer there. 
<br>
<br>…As the good doctor does a double take as he gawks at your sculpted physique. 
<br>
<br>But it’s your secret, because you know<span style="font-weight: bold;"> you’re now biologically younger</span> than your last visit.
<br>
<br>Then he wraps a cuff around your arm, reads your HbA1C numbers… smiles and nods… and all he can say is…
<br>
<br>“Keep up the good work! These are the best numbers I’ve seen from you in years… maybe, ever. We’ll get your blood pressure results soon. But, seeing how much weight you’ve lost and how glowing you look, I bet they’ll come back spic and span.”
<br>
<br>Finally, he smiles with a thumbs up.
<br>
<br>No bad news.
<br>
<br>No frowns.
<br>
<br>No “oh no” looks of sadness.
<br>
<br>No more additional tests, thank you very much. 
<br>
<br>Instead, he just nods and shakes your hand. “You’re looking great. Whatever you’ve been doing… <span style="font-weight: bold;">It’s like you’re getting younger</span>. See you next year!”
<br>
<br>“Well, that was easy!” you think.&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-e48c73ce" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-00c25a8e"><span style="font-weight: bold;">As you walk back outside, you realize<span style="font-style: italic;"> this is your new life with “young again” cells. </span></span></span></p><p class="sc-dREXXX gMKZx pf-558e7f0d" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-cbeccfd6">All thanks to the <span style="font-weight: bold;">DNA Whisperer</span>. 
<br>
<br><span style="font-weight: bold;">In this special video presentation, I’m going to show you  how this breakthrough works.</span>
<br>
<br>I’ll show you the exact pill I’ve been taking myself and giving to a senior community simply known as “the Restored”.
<br>
<br>I’ll show everything that’s in it.
<br>
<br>And most importantly, I’ll show you <span style="font-weight: bold;">how you can get it for yourself.</span>
<br>
<br>This is something every American over 50 needs to know.
<br>
<br>How does it sound to live a long and fruitful life? Imbued with the energy of youth and freedom from all kinds of ailments that normally plague you? How amazing is that?
<br>
<br>It’s for this very purpose I discovered the DNA Whisperer and how it’s <span style="font-weight: bold;">now available in a single pill.
</span><br>
<br>As you heard, this new breakthrough could help give you better blood pressure than exercise. Better blood sugar without changing your diet. Lower triglycerides. Vastly improved health.
<br>
<br><span style="font-weight: bold;">You’ll even feel four times more energy!</span>
<br>
<br>Want to know something intriguing?&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-a1bfacd5" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-6fb26134"><span style="font-weight: 700;">Rumors</span><span style="font-weight: bold;">&nbsp;of the Mysterious DNA Whisperer Has Been Around for Centuries.</span></span></p><picture class="sc-hgHYgh ljIkgU pf-6446d7c5" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-d0681a90-259e-4c8e-b285-722ff8d49140--Depositphotos5595489s2019.jpg?8809"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-d0681a90-259e-4c8e-b285-722ff8d49140--Depositphotos5595489s2019.jpg?8809"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-d0681a90-259e-4c8e-b285-722ff8d49140--Depositphotos5595489s2019_800x600.jpg?8809&resized"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-d0681a90-259e-4c8e-b285-722ff8d49140--Depositphotos5595489s2019_400x300.jpg?8809&resized 1x, https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-d0681a90-259e-4c8e-b285-722ff8d49140--Depositphotos5595489s2019_850x850.jpg?8809&resized 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-d0681a90-259e-4c8e-b285-722ff8d49140--Depositphotos5595489s2019_400x300.jpg?8809&resized 1x, https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-d0681a90-259e-4c8e-b285-722ff8d49140--Depositphotos5595489s2019.jpg?8809 2x"><img src="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-d0681a90-259e-4c8e-b285-722ff8d49140--Depositphotos5595489s2019.jpg?8809" alt="cupcakes"></picture><p class="sc-dREXXX gMKZx pf-a2ec9bd2" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-682033ac">In BC times, it was known as <span style="font-weight: bold;">the Etruscan Elixir</span>… The health relic of a lost civilization that were as fit as fiddles. Unfortunately the astounding properties were wiped out by the Pompeii volcanic eruption. 
<br>
<br>Luckily, It was rediscovered in the 149 BC writings of eccentric Athenian politician Cato the Elder. This secret enabled him to live till the ripe old age of 85 years old when the average Roman life span was a mere 35 years old… 
<br>
<br>He was on to something! 
<br>
<br>And while the properties have been praised for CENTURIES, it’s only recently science has caught up. 
<br>
<br>And boy has the praise piled on… All 10,003 papers! 
<br>
<br><span style="font-weight: bold;">So think about what you could do in just a week, when you properly ingest the DNA Whisperer…</span>
<br>&nbsp; &nbsp; &nbsp;•You could feel mentally sharp, like your brain’s just woken up in a whole new <br>&nbsp; &nbsp; &nbsp; way…
<br>&nbsp; &nbsp; &nbsp; •You might grab your spouse’s hand and go out dancing…
<br>&nbsp; &nbsp; &nbsp;•Play with your grand-kids as you keep up with them step-for-step…
<br>&nbsp; &nbsp; &nbsp;•Or plan a camping trip, get back to tending your garden… anything you want!
<br>
<br>So you’re about to discover what brings about all this wanton wholeness… 
<br>
<br><span style="font-weight: bold;">Before that, allow me to reveal the shocking reason behind aging in the first place. So...</span>
<br>
<br>If you feel your body’s defenses are starting to crumble. 
<br>
<br>If you feel a sense of dread every time you go for your medical checkup. 
<br>
<br>If you feel your knees buckling from pain.
<br>
<br>If you feel precious memories are starting to fade away.
<br>
<br>If you feel your health is a ticking time bomb.  
<br>
<br>I want to tell you it’s not your fault.
<br>
<br>There’s a phenomenon the doctors and hospitals don’t bother to tell you. It’s called…&nbsp;&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-c175f99a" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-31d85548"><span style="font-weight: bold;">DNA Erosion </span></span></p><p class="sc-dREXXX gMKZx pf-77bef9e9" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-2020a6f8">Huh? While it sounds complicated, it actually isn’t. 
<br>
<br>Aging is essentially a function of our cells breaking down. 
<br>
<br>Think of the formidable White Cliffs of Dover, overlooking thunderous waves.&nbsp;<br></span></p><picture class="sc-hgHYgh ljIkgU pf-6dcd3685" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-b0f86030-335e-461a-8654-262bbe066cf0--cliffs-of-dover.png?8447"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-b0f86030-335e-461a-8654-262bbe066cf0--cliffs-of-dover.png?8447"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-b0f86030-335e-461a-8654-262bbe066cf0--cliffs-of-dover.png?8447"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-b0f86030-335e-461a-8654-262bbe066cf0--cliffs-of-dover_400x238.png?8447&resized 1x, https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-b0f86030-335e-461a-8654-262bbe066cf0--cliffs-of-dover_850x850.png?8447&resized 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-b0f86030-335e-461a-8654-262bbe066cf0--cliffs-of-dover_400x238.png?8447&resized 1x, https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-b0f86030-335e-461a-8654-262bbe066cf0--cliffs-of-dover.png?8447 2x"><img src="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-b0f86030-335e-461a-8654-262bbe066cf0--cliffs-of-dover.png?8447" alt="cupcakes"></picture><p class="sc-dREXXX gMKZx pf-0e9b85e5" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-53261d94">While it’s majestic and sturdy… The shape of the cliff have drastically changed over the years.  There’s rapid erosion of a cliff when the waters hit -- causing the jagged edges you see. 
<br>
<br>Similarly… The DNA in each cell gets frayed. The cell walls get weak and begin to collapse.  So the raging waves are just the process of time. 
<br>
<br>This causes tumors, collapsed capillaries, and other horrific cellular mistakes. 
<br>
<br>According to Dr. Sinclair, “This leads each of us into a world of heart disease, cancer, pain, frailty and death.” 
<br>
<br>And THAT’S JUST what happens as we get older.&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-f26907e1" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-3be8d376"><span style="font-weight: bold;">But Here’s How Things Get Worse.&nbsp;</span><br></span></p><p class="sc-dREXXX gMKZx pf-4c7de131" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-4f0e4e70">Because nearly everything in our modern world causes EVEN MORE DNA Erosion.  
<br>
<br>&nbsp; &nbsp; &nbsp;• The cigarette you smoke…
<br>&nbsp; &nbsp; &nbsp;• The plastics you consume…
<br>&nbsp; &nbsp; &nbsp;• The GMO food you eat…
<br>
<br>Heck, even the air you breathe can spark problems for your cells.  
<br>
<br>For example, the medical journal Lancet informs us air pollution is upgraded to a Level One Carcinogen. 
<br>
<br>What does this mean? This means the particles coming from fossil fuels and diesel exhaust are getting into our bodies and accelerating DNA Erosion -- quickening aging and our eventual demise. 
<br>
<br>Here’s where it gets <span style="font-weight: bold;">downright terrifying</span>.
<br>
<br>We all know Beijing, the capital of China have a terrible air pollution problem. Fortunately, we’re all in the way in the States so that doesn’t affect us, right? WRONG. 
<br>
<br>You see, what starts in China doesn’t stay in China. 
<br>
<br>Let me explain. NASA has been tracking a phenomenon called the brown cloud. Those pollutants get up in the jet stream and within seven days deposit themselves on the western seaboard of the United States!
<br>
<br>That’s right.  Even if you live all the way in the West, the sins of the East can actually condemn you to suffering.
<br>
<br>So if that’s the case, what can you do?
<br>
<br>If aging is cell erosion… Then…&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-80befa21" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-31d38425"><span style="font-weight: bold;">You “Un-erode” Cells to Reverse Aging&nbsp;&nbsp;</span><br></span></p><p class="sc-dREXXX gMKZx pf-f879fdb2" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-10f81db0">How do we do that? Well, what Harvard confirmed with that treadmill mouse, and other experiments, was that enzymes called sirtuins can boost the strength of cells so much they start to repair itself! 
<br>
<br>And that you can activate sirtuins with a “helper molecule” called NAD+. The senior citizen mouse had so much NAD+ in its system that its blood vessels were healthy and young, full of delicious oxygen, and it evidently felt like running forever.
<br>
<br><span style="font-weight: bold;">So the more NAD+ you get in your cells, the more “youthful” they become. 
<br></span>
<br>In a minute, I reveal how NAD+ is known as the Infinity Pool of Youthful Perfection. 
<br>
<br>In the meantime, there’s actually many ways to make more NAD+ in the body. 
<br>
<br>But guess what?&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-9eb040d9" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-04b07788"><span style="font-weight: bold;">The DNA Whisperer is the most effective way to generate NAD+ BY FAR.&nbsp; &nbsp;</span><br></span></p><p class="sc-dREXXX gMKZx pf-ee3a4cee" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-7c6dcda0"><span style="font-weight: bold;">However first off... why that strange name?</span>
<br>
<br>Let’s talk about the concept of Whisperers. 
<br>
<br>You're in somebody's presence who whispers to you... As you look into their eyes and all of a sudden you feel taller... You feel stronger... 
<br>
<br>You feel like you can do more... You can BE more.
<br>
<br>These are people who know you better than you know you. As another example...
<br>
<br><span style="font-weight: bold;">Have You Ever Watched the Dog Whisperer?</span>
<br>
<br>When exasperated canine owners have problems with their pet’s problems – be it over-aggression or lack of obedience, they call on the charismatic Cesar Millan.  
<br>
<br>And Cesar will whisper that naughty cocker spaniel or Labrador into submission!
<br>
<br>Are you starting to see where I’m going?
<br>
<br>That’s why we call it the DNA Whisperer. 
<br>
<br>It’s a chemical found in the most surprising of places.. And this chemical will get into each and every one of your cells. It whispers to your DNA. 
<br>
<br>You see, As the bio-hazards that come in through pollution will get into your cells and irritate them to the point of accelerating aging... When your cells get “naughty” due to DNA Erosion and start misbehaving, this chemical whispers…&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-973b9c86" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-f78c4175"><span style="font-style: italic; font-weight: bold;">“Hey, you can do more. You can be more!”&nbsp;&nbsp;</span><br></span></p><p class="sc-dREXXX gMKZx pf-d4b3bacf" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-e0f0fb4f">It motivates them into good behavior – leading to endless energy, lower blood sugar levels and pain-free movement! 
<br>
<br><span style="font-weight: bold;">Here’s How The DNA Whisperer Works in 2 simple steps:</span>
<br>
<br>Firstly, it activates something called known as the NRF2 Pathway…
<br>
<br>This pathway is activated under oxidative stress conditions and subsequently activates several antioxidative genes and proteins. 
<br>
<br>The NRF2 pathway has been referred to as the “master regulator of antioxidant, detoxification and cell defense gene expression…” by famed Dr. David Perlmutter.
<br>
<br>Think of it as...&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-11061d18" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-6e18afc4"><span style="font-weight: bold;">The Country Club of Perfect Health&nbsp;</span><br></span></p><p class="sc-dREXXX gMKZx pf-a8a17b1b" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-1cbdd929"><span style="font-style: normal;">Picture an invitation-only golf club. 
<br>
<br>Rolling greens... Stunning sights... A nice play to relax with an ice-cold beer. 
<br>
<br>The NRF2 Pathway is that country club. 
<br>
<br>And like all these beautiful establishments, you get a set of membership benefits. In this case, you get access to extraordinary things like perfect health, everlasting youth and breakthrough energy. 
<br>
<br>However, to access it, you need a keycard. One tap, and you’re in. And let me tell you...&nbsp;</span><br></span></p><p class="sc-dREXXX gMKZx pf-86484037" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-885273c5"><span style="font-style: normal; font-weight: bold;">The DNA Whisperer Is that Key!</span><br></span></p><p class="sc-dREXXX gMKZx pf-50d48c99" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-e52563fb"><span style="font-style: normal;">Hold on to your hat... Because it gets better. 
<br>
<br>Remember I talked about NAD+? The helper molecules that reduce biological age? The very same thing that reverses DNA Erosion and increases energy?
<br>
<br>Well, when you activate the NRF2 Pathway, it in turn generates NAD+. 
<br>
<br>Think of it this way... 
<br>
<br>If NRF2 is the Country Club of Perfect Health.  
<br>
<br>Then NAD+ is...&nbsp;</span><br></span></p><p class="sc-dREXXX gMKZx pf-8a67bbf1" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-33dc5416"><span style="font-style: normal; font-weight: bold;">The Infinity Pool of Youthful Paradise.&nbsp;&nbsp;</span><br></span></p><p class="sc-dREXXX gMKZx pf-7f564441" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-ed2ba549">Because the centerpiece of any club is a fancy pool like this. </span></p><p class="sc-dREXXX gMKZx pf-fdcca879" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-7de60c16">Imagine – Dipping into the serene body of water.
<br>
<br>Your anxieties melt away. Your body floats – without pain… Without creaky joints.
<br>
<br>And that’s because you’re SUBMERGED in copious amounts of NAD+.. 
<br>
<br>This means…
<br>
<br>As Sirtuins are triggered… 
<br><span style="font-weight: bold;">Your cells soak up the fresh, new NAD+… and they churn out
<br>life-giving energy like they did years and years ago</span>
<br>Because of this,<span style="font-style: italic; font-weight: bold;"> you can feel half your age</span>.
<br>
<br>Actually, science shows the way your body changes go far beyond what you feel…
<br>As you’re about to see, your blood pressure… blood sugar… joint health… heart health… even your brain health <span style="font-weight: bold;">all improve</span>. The DNA Whisperer process is, quite simply, <span style="font-style: italic; font-weight: bold;">unstoppable</span>.
<br>
<br>The more you’re watching this, the more convinced the DNA Whisperer is the way to greater and better health.
<br>
<br>And you want to know something startling?
<br>
<br>Generating anti-aging NAD+ is just ONE of the membership benefits.
<br>
<br>Because by activating the NRF2 Pathway... You get...&nbsp;&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-7e141974" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-c86b00e0"><span style="font-weight: bold;">5 Other Stunning Membership Privileges&nbsp;</span><br></span></p><p class="sc-dREXXX gMKZx pf-7daaed52" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-7d57a5db">Yes. It’s the gift that keeps on giving. 
<br>
<br>Just for starters, the DNA Whisperer Can…&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-350c9bfe" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-ba7ac9d7"><span style="font-weight: bold;">Quench Inflammation&nbsp;&nbsp;</span><br></span></p><p class="sc-dREXXX gMKZx pf-d6728bae" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-3d9e6750">Inflammation is like a forest fire that’s OUT of control.
<br>
<br>Believe it or not… a small fire is actually good. They said biodiversity increases by 90% when a fire sweeps through – renewing nature.
<br>
<br>In the same way, inflammation acts as that fire. Helping you renew the body and fight off infection.
<br>
<br>However, due to the fact we have pollutants in the air, GMO is our food, DNA Erosion occurring everywhere… Our body is always under attack. 
<br>
<br>As a result, the small fire becomes a raging inferno.
<br>
<br>I mean, look at the recent fire in the Amazon rain forest. 
<br>
<br>It wiped out everything in its wake. And that’s what excess inflammation does to your body.
<br>
<br>It clogs blood vessels... Tightens your joints in a vice-like grip... Spike your blood sugar... Overwhelm you with a thick blanket of exhaustion -- even if you were barely moving a muscle to begin with. 
<br>
<br>Here’s the important bit... 
<br>
<br>The DNA Whisperer creates plummeting inflammation markers -- quickly and easily. 
<br>
<br>In a 2015 study published in the peer-reviewed journal Antioxidants & Redox Signaling, it says the DNA Whisperer inhibits the NF-κB pathway, one of the primary causes of inflammation… thus drastically reducing it.<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4432495/">
<br></a> 
<br>The NF-κB pathway is a negative pathway. It’s actually the opposite to the NRF2 Pathway. The yin to its yang.  The villain to its hero, if you will. 
<br>
<br>And of course when you reduce inflammation – the mother of all kinds of problems… You’ll experience...&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-0208bcc5" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-3655a2d4"><span style="font-weight: bold;">Pain-Free Joints.</span>&nbsp;&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-265308ee" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-ece338e4">According to The Mayo Clinic, inflammation is one of the leading causes of joint pain in adults over 45. 
<br>
<br>In fact, some of the most common symptoms of aging such as aches, pains and fatigue are all <span style="font-weight: bold;">caused by <span style="font-style: italic;">inflammation</span></span>... 
<br>
<br>Did you catch that? 
<br>
<br>The inflammation inside your joint is causing much of the suffering you are experiencing on a daily basis. Waking up in the morning with stiff, achy joints. Trying to chase your grandkids but unable to keep up because of your "old knees". Living your life constantly wishing your extremities would just stop throbbing. 
<br>
<br>So as the DNA Whisperer works on your limbs and remove inflammation, you get grateful testimonials like this one:
<br>
<br>“It just relieved the pain in my finger joints.  When I moved my fingers, I typically had joint pain. After taking the product for about two days, my finger pain was gone.” 
<br>-Missy M., September, 2018
<br>
<br>Additionally, the DNA Whisperer will...&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-bbf3f1aa" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-2e873950"><span style="font-weight: bold;">Create Crystal-Clear Memory&nbsp;&nbsp;</span><br></span></p><p class="sc-dREXXX gMKZx pf-0d132106" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-b57df6ee">Desire a razor-sharp memory? Want to effortlessly remember names, places, car keys… even distant memories?
<br>
<br>Want to enjoy laser-like focus as you solve puzzles, navigate through town, or even start a new project around the house?
<br>
<br>According to a 2015 study published in the prestigious journal Neuropharmacology, the DNA Whisperer can increase brain function. Resulting in powerful mental flow.
<br>
<br>And here’s why. Remember our old friend inflammation?
<br>
<br>Turns out that when it affects the brain, it creates all kinds of nasty issues – including senior thinking, memory loss and a lack of focus. 
<br>
<br>So as the NRF2 Pathway is activated and NF-κB pathway is deactivated, it reduces inflammation so your brain is practically resurrected. 
<br>
<br>You’ll be the sharpest tool in the shed. 
<br>
<br>More crucially, the DNA Whisperer...&nbsp;&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-7b0547b2" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-f7f9dc78">Helps Your Heart&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-e0bacc48" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-517a4030">In a 2013 Thrombosis and Haemostasis study, the DNA Whisperer aids human platelet aggregation through inhibiting the phosphatidylinositol 3-kinase/Akt pathway.
<br>
<br>So you guess it... As activating the NRF2 Pathway leads to inhibiting yet another pathway, this time the PI3K one...  It again cuts inflammation at its knees. 
<br>
<br>In turn, that leads to better heart health. 
<br>
<br>if you have a family history of heart trouble, you may already know what it takes to keep your heart going strong.  The DNA Whisperer keeps your cardiovascular system running smoothly.
<br>
<br>Hey, your blood vessels will thank you. 
<br>
<br>And if you’re struggling with elevated blood sugar... There’s great news for you too. Because the DNA whisperer also...&nbsp;&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-2593ffc7" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-96d8a978"><span style="font-weight: bold;">Creates Perfect Blood Sugar&nbsp;</span><br></span></p><p class="sc-dREXXX gMKZx pf-bbd9dfd9" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-cd52f439"><a href="https://www.selfhacked.com/blog/triglycerides/" target="_self"></a>Indeed, the research is exciting when it comes to the wonder nutrient lowering blood sugar and HBA1C numbers. 
<br>
<br>Here’s a quote from 3 separate peer-reviewed research journals:
<br>
<br>“increased blood antioxidant capacity and HDL cholesterol, and decreased oxidative stress, triglycerides, insulin,<a href="https://selfhacked.com/blog/top-tips-for-fixing-insulin-resistance/-" target="_self"> </a>insulin resistance, and CRP” 
<br><span style="font-weight: bold;">~ Diabetes Research and Clinical Practice, 2012
</span><br>
<br><span style="font-style: italic;">“May improve Insulin Resistance in type 2 diabetic patients.”
<br><span style="font-weight: bold;">~ International Journal of Food Sciences and Nutrition, 2012
</span><br></span>
<br>“<span style="font-style: italic;">Excellent choice for supplementary treatment.</span>” 
<br>J<span style="font-weight: bold;">ournal of Medicinal Food</span>, <span style="font-weight: bold;">2013 
</span><br>
<br>The implications of JUST these 3 studies are astounding. 
<br>
<br>The DNA Whisperer causes an incredible 23% increase in insulin resistance. 
<br>
<br>This means no dreaded afternoon slumps. 
<br>
<br>Great HBA1C numbers.
<br>
<br>And no more concern for future consequences that accompanies uncontrolled blood sugar.
<br>
<br><span style="font-weight: bold;">How inspiring is that?
</span><br>
<br>And want to know something else that is funny? 
<br>
<br>According to a 2016 <span style="font-weight: bold;">Biochemical and Biophysical Research Communications</span>  paper…&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-a2970a87" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-a4dd31e3"><span style="font-weight: bold;">It Can Even Give You a Full Luscious Head of Hair!&nbsp;</span><br></span></p><p class="sc-dREXXX gMKZx pf-457189c7" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-b9053f23">That’s right... According to a study done by the Tokyo Medical and Dental University Graduate School of Medicine, The DNA Whisperer can even reverse baldness by
<br><span style="font-weight: bold;">accelerating the degradation of dihydrotestosterone.
<br></span>
<br>Imagine long flowing locks to replace your barren bristles on your scalp!
<br>
<br>So after all that… 
<br>
<br>After hearing about all these 6 amazing Membership Privileges from the Country Club of Perfect Health... 
<br>
<br>This is the moment you've been waiting for. 
<br>
<br><span style="font-weight: bold;">The DNA Whisperer is known as Sulforaphane.
<br></span>
<br>One of the most powerful nutrients on Earth. 
<br>
<br><span style="font-style: italic;">Pay close attention to this fact…
<br></span>
<br>So if this is the kind of breakthrough that can bring you back to Edenic perfection… 
<br>
<br>You might wonder how something this powerful was already discovered for YEARS. And yet all those rates of old age didn't seem to have gone down. 
<br>
<br>Even more perplexing, you can actually find it in a household vegetable. Namely...&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-10b71234" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-f9db75ce"><span style="font-weight: bold;">Sulforaphane is Found In Plain Old Broccoli.&nbsp;</span><br></span></p><p class="sc-dREXXX gMKZx pf-79f8531c" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-08b19bc1">You read that right. 
<br>
<br>But before you run out and grab a head or two... 
<br>
<br>You need to eat a whopping 10 pounds of broccoli just to get anything resembling results. To put things in perspective, it looks something like this:
<br>
<br></span></p><p class="sc-dREXXX gMKZx pf-1e9fb800" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-3f9b1c72">Instead, you can do sprouts. There’s considerably more sulforaphane in it. 
<br>
<br>However... it takes a lot of time to grow them and it tastes terrible. Plus, you need to eat an entire mason jar worth of it every time. 
<br>
<br>And if you think that was bad...
<br>
<br>Not even Big Pharma was able to extract stabilised sulforaphane from its source. Which means there was no pleasant way to consume this miracle food. 
<br>
<br>Till January 2018, that is…
<br>
<br>That was the date we managed to stabilise the compound into pill form.
<br>
<br>And in October 2018, we made it 5X more bioavailable -- meaning you now can absorb even more of its potent goodness.  
<br>
<br>As a result…&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-f3e9208c" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-d7710c0b"><span style="font-weight: bold;">Epiceutical Labs has the only trade-secreted stabilized sulforaphane solution of the market</span><br></span></p><p class="sc-dREXXX gMKZx pf-c09c477c" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-09112c62"><span style="font-weight: bold;">And that’s absolutely good news for you. 
<br>
<br>With one simple capsule and 1 gulp of water, you’ll be whisked away in time</span>.
<br>
<br>&nbsp; &nbsp; &nbsp;  • When there’s no joint pain… 
<br>&nbsp; &nbsp; &nbsp;  • No keeping track of medication… 
<br>&nbsp; &nbsp; &nbsp;  • No constant trips to the doctor… 
<br>
<br>When you don’t have to <span style="font-weight: bold;">feel the humiliation</span> of not being able to dress yourself, because your frozen shoulder has gotten so severe. 
<br>
<br>And more importantly…
<br>
<br>Where you don't feel like your body is wasting away. .
<br>
<br><span style="font-weight: bold;">Instead, you’ll experience pure unbridled energy. 
<br></span>
<br><span style="font-weight: bold;">You’ll never be imprisoned</span> by your coach and your bed EVER again.&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-e91e38ee" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-5bd83c45"><span style="font-weight: bold;">All because of BrocElite</span>™&nbsp;&nbsp;<br></span></p><picture class="sc-hgHYgh ljIkgU pf-609b870b" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-6965f42e--BrocElitePlus-30small_400x3000.png?v=1581629303"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-6965f42e--BrocElitePlus-30small.png?v=1581629303"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-6965f42e--BrocElitePlus-30small_800x1240.png?v=1581629303&resized"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-6965f42e--BrocElitePlus-30small_400x620.png?v=1581629303&resized 1x, https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-6965f42e--BrocElitePlus-30small_850x850.png?v=1581629303&resized 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-6965f42e--BrocElitePlus-30small_400x620.png?v=1581629303&resized 1x, https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-6965f42e--BrocElitePlus-30small.png?v=1581629303 2x"><img src="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-6965f42e--BrocElitePlus-30small.png?v=1581629303" alt="decorations"></picture><p class="sc-dREXXX gMKZx pf-a917c93c" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-17ddce00">And the only way to get them is in the <span style="font-weight: bold;">100% GMO Free brand-new formula</span> from my team at Epiceutical Labs.
<br>
<br>At last, you get the cure for old age.
<br>
<br>This amazing package will work:
<br>
<br>&nbsp; &nbsp; &nbsp;• Even if you’d been struggling with inconsistent blood sugar for years.
<br>&nbsp; &nbsp; &nbsp;• Even if you’d have poor energy.
<br>&nbsp; &nbsp; &nbsp;• Even if you tried countless other treatments and diets to no effect.
<br>
<br>And here’s something fantastic. 
<br>
<br>If You Want To:
<br>
<br>&nbsp; &nbsp; &nbsp;• Stop eating those “special” foods that taste like sawdust and pamper yourself <br>&nbsp; &nbsp; &nbsp; &nbsp;with forbidden delights instead.
<br>&nbsp; &nbsp; &nbsp;• Stop dreading those doctor visits doing your bloodwork and enjoy balanced <br>&nbsp; &nbsp; &nbsp; &nbsp;blood sugar instead.
<br>&nbsp; &nbsp; &nbsp;• Stop living in regret over “if only I took better care of myself” and e<span style="font-weight: bold;">xperience a <br>&nbsp; &nbsp; &nbsp; &nbsp;2nd chance </span>at living instead.
<br>
<br><span style="font-weight: bold;">You can take advantage of the DNA Whisperer’s powerful benefits <span style="font-style: italic;">starting your first day</span>.</span>
<br>
<br>&nbsp; &nbsp; &nbsp;• In this presentation, you discovered how your body goes through DNA Erosion, <br>&nbsp; &nbsp; &nbsp; &nbsp;hence triggering the aging effect that leads to body and brain breakdown.
<br>&nbsp; &nbsp; &nbsp;• You’ve studied how the <span style="font-weight: bold;">cure for that is accessing the Country Club of Perfect <br>&nbsp; &nbsp; &nbsp; &nbsp;Health which main feature is the Infinity Pool of Youthful Paradise, activating <br>&nbsp; &nbsp; &nbsp; &nbsp;NAD+ like crazy 
</span><br>&nbsp; &nbsp; &nbsp;• You’ve learned how Sulforaphane is your “key card” to that club…  also giving&nbsp; &nbsp; &nbsp; &nbsp;<br>&nbsp; &nbsp; &nbsp; &nbsp;you access to 6 other amazing health benefits…
<br>
<br><span style="font-style: italic;">A second-wind in life. 
<br></span>
<br>Now for the most important part.&nbsp;&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-6d5c601c" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-0b265f3f"><span style="font-weight: bold;">How much would you pay to have a cure for old age?&nbsp;</span><br></span></p><p class="sc-dREXXX gMKZx pf-a2ad92fa" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-09fe75eb">Did you know the <span style="font-weight: bold;">average price of insulin nearly tripled</span> between 2002 and 2013 according to the American Diabetes Association, thanks to “price gouging” due to pharmaceutical monopoly?
<br>
<br>And that’s not to mention all the other medications as well, with all the different supplements address all the different symptoms. 
<br>
<br>This means on top of a barrage of pills, the cost add up quickly.  
<br>
<br>So here’s the good news...
<br>
<br>For <span style="font-weight: bold; font-style: italic;">a fraction</span> of the price of your entire regiment, BrocElite can tackle 6 of these different issues. They comprise of:
<br>
<br>&nbsp; &nbsp; • Boosting Energy
<br>&nbsp; &nbsp; • Quenching Inflammation
<br>&nbsp; &nbsp; • Loosening Joints
<br>&nbsp; &nbsp; • Sharpening Memory
<br>&nbsp; &nbsp; • Unclogging Arteries
<br>&nbsp; &nbsp; • Lowering Blood Sugar.
<br>
<br>It’s an all-in-one solution.
<br>
<br><span style="font-weight: bold;">Here’s a Special Introductory Offer!
<br></span>
<br>I want to see your blood sugar, brain, and joints healthy again so you can FEEL stronger and healthier with BrocElite – <span style="font-weight: bold;">and you won’t have to risk a dime</span>.<br></span></p><p class="sc-dREXXX gMKZx pf-b50ba1f3" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-409ace24"><span style="font-weight: bold;">And Wait There’s More.&nbsp;</span><br></span></p><p class="sc-dREXXX gMKZx pf-13c90fbb" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-b0541fa1">Not only will <span style="text-decoration-line: underline;">you lock in today’s special low price</span>… You’ll also enjoy…&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-739eda32" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-93040767"><span style="font-weight: bold;">FREE GIFT – Complementary Shipping (Worth $9.97)</span><br></span></p><p class="sc-dREXXX gMKZx pf-51d6dcf3" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-bd9a96a0">That’s right… you get <span style="font-weight: bold;">FREE </span>shipping on today’s order and all future orders.
<br>
<br>Most assuredly, you can cancel or change this program at any time just by calling our friendly American customer service team.
<br>
<br><span style="font-weight: bold;">However, Just For Watching This Presentation Today, I Have A Much Better Deal Coming Your Way... Just Keep Watching, As It Won’t Last Much Longer...&nbsp;<br></span>
<br>Of Course You Could Choose To Just Continue On The Path You’re On Right Now... 
<br><br>&nbsp; &nbsp; &nbsp;• Sleeping from midnight till noon and YET still feel drained. 
<br>
<br>&nbsp; &nbsp; &nbsp;• Getting depressed because you wasted half a day – AGAIN.
<br>
<br>&nbsp; &nbsp; &nbsp;• Unable to push yourself because if you do, your joints will start screaming.
<br>
<br>&nbsp; &nbsp; &nbsp;• And frustrated that you can’t seem to even get to baseline… missing out on <br>&nbsp; &nbsp; &nbsp; gatherings with friends or even working around the house. 
<br>
<br>You don’t have to resign yourself to the ravages of old age, not when BrocElite is just around the corner. 
<br>
<br>And that isn’t what I want for you, so let’s make this a really easy decision, okay?  
<br>
<br>I feel you deserve to know why I’m about to offer you such a <span style="font-weight: bold;">near-unbelievable discount </span>today.
<br><br>I mean… other alternatives in the market cost as much as $1288. 
<br>
<br>And even then, you’ll probably agree that‘s a small price to pay… as a contrast to mounting hospital bills. 
<br>
<br>Yet, you won’t invest close to that. 
<br>
<br>And here’s why… Because of the greater cause. 
<br>
<br>Did you know there’s a group of people in the Western world who are enjoying the abundant life sulforaphane brings?
<br>
<br>They have balanced blood sugar levels, walking without limping, even <span style="font-weight: bold;">possessing extreme energy levels </span>not seen since their youth.<br></span></p><p class="sc-dREXXX gMKZx pf-8b8151d6" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-4fccf761"><span style="font-weight: bold;">They Are “The Restored”&nbsp;</span><br></span></p><p class="sc-dREXXX gMKZx pf-7f2e5768" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-98355187">A fraternity of whole health happy people who have <span style="text-decoration-line: underline;">“graduated” from old age issues into impeccable levels of health</span>. 
<br>
<br>It’s almost they are swimming in the Infinity Pool of Youthful Paradise… where dreaded diseases are a thing of a distant past. 
<br>
<br>Here are their uncanny stories. 
<br>
<br><span style="font-style: italic;">“I’m an 80 year old bemoaning stiff joints.  I began taking BrocElite and within days I’m walking normally and climbing stairs like I’m a 40 year old.  I am in love with this product and I take two in the morning and two in the evening.  I will use it for the rest of my life!”
<br></span><span style="font-weight: bold;">~ Madeline T., September 2018
<br></span>
<br><span style="font-style: italic;">“I’ve always taken sleep for granted, but my wife, who stirs easily, does not. In our early marriage, I slept quietly and never disturbed her. At some point in my late 30s, however, I started to snore. It got bad enough that sometimes the sound of it would wake her out of a deep sleep. I tried a number of anti-snoring remedies, but nothing helped. Then a friend gave me BrocElite. I started taking it, knowing it would reduce inflammation but never expecting that it would impact my snoring. Much to my surprise, it did! I haven’t snored since. My wife was so delighted to get uninterrupted sleep again that she told me I had to write to the company and thank them. This is the only testimonial I’ve ever written for a product. If you have trouble with snoring, give BrocElite a try. It just might restore your sleep.”
<br></span><span style="font-weight: bold;">~ Corban A.,  October, 2018
<br></span>
<br><span style="font-style: italic;">“I have to tell you that if there is one single supplement that I take that makes me feel amazing it is BrocElite. My husband and I started taking them and cannot believe how amazing they make us feel. My husband attributed them to helping his feet not hurt when he's on them for 14- 16 hours a day and his back feels better. I feel better completely. We are amazed and are big fans and will continue taking them. Thank you for this amazing product!”
<br></span><span style="font-weight: bold;">~ Vickie G, October, 2019
<br></span>
<br><span style="font-style: italic;">In 2005, I had a severely botched-up arthroscopic gallbladder surgery where I almost bled to death.  Ever since then, I’ve had extreme diarrhea problems that dominated my life.  Once I started taking BrocElite, my life is now manageable and so much better.  I can’t say enough about this product.  BrocElite has given me my life back!
<br></span><span style="font-weight: bold;">~ Barbara R., November, 2019
<br></span>
<br><span style="font-style: italic;">“So, I originally tried this, because I read an article about how broccoli sprout extract can help a certain brain condition that I have. I don't know if it has helped my brain, but this stuff has totally helped my digestion! So, TMI, but I had trouble with loose stools for the longest time. Nothing seemed to help. So far I've been taking BrocElite Plus for about 3-4 months and my digestive issues are seemingly fixed (knock on wood).  This has been like a miracle for me!”
<br></span><span style="font-weight: bold;">~ Kristin B. August, 2019
<br></span>
<br>Their success can be your success.
<br><br>So much so…
<br>
<br>That means that today you will not be paying the retail value of the BrocElite and the free shipping...&nbsp;<br>
<br>Not even close!&nbsp;<br>
<br>So your investment today will not be $1288...&nbsp;<br>Not even $498.
<br>Not even $88.&nbsp;<br>
<br>Your total investment today, which includes BrocElite, and all the free gifts you see above is now…&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-faa7e362" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-08bdfeee"><span style="font-weight: bold;">Only 1 payment of just $39.00 for a 1 Month Supply!&nbsp;</span><br></span></p><p class="sc-dREXXX gMKZx pf-7e83b81c" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-0e2a37da">That’s all it takes to revive your memory, reduce your cholesterol, heal your heart, soothe your joints and transform your world. 
<br>
<br>I stake my reputation on this. 
<br>
<br>BrocElite really works… <span style="font-weight: bold;">and it will work for you</span>.
<br>But you don’t have to take <span style="font-weight: bold;">my word</span> for it.
<br>
<br>I’m so convicted this patented stabilized sulforaphane formula will help you create startling health like a young pup, I want you to try <span style="font-weight: bold; font-style: italic;">BrocElite </span>with <span style="font-weight: bold;">ZERO </span>risk.
<br>
<br>In fact, what I’m about to offer is exceptional:<br></span></p><p class="sc-dREXXX gMKZx pf-814eae45" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-e7ff7de6"><span style="font-weight: bold;">90-Day Guarantee</span><br></span></p><p class="sc-dREXXX gMKZx pf-1c45332a" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-412ae6f5"><span style="font-style: italic; font-weight: bold;">The Ultimate Iron-Clad Agreement that If You Don’t Achieve Long Term Results, We Don’t Deserve to Take Your Money – no tricks, loopholes or fine print.&nbsp;&nbsp;</span><br></span></p><p class="sc-dREXXX gMKZx pf-ad2693cd" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-aae83a02">Here’s how it works…
<br>
<br>Reserve <span style="font-weight: bold;">your personal supply</span> of <span style="font-weight: bold; font-style: italic;">BrocElite </span>today.
<br>
<br>In a little more than 7 days, your supply will arrive. Open your first bottle immediately. 
<br>
<br><span style="font-weight: bold;">Start going on your usual routine. 
<br></span>
<br>Just take 1 of these a day.
<br>
<br>Even after the first capsule... Mere hours later.
<br>
<br>You’ll feel a surge of pulsating energy. You could swear your joints are starting to feel a little less frozen. You may start experiencing hyper-focus. You just feel SO good. 
<br>
<br>And then in a couple of days…
<br>
<br><span style="font-weight: bold;">You’ll be dazzled by the results. 
<br></span>
<br>You’ll start looking forward to wake up in the morning and enjoy blood sugar readings that are overwhelmingly positive. Wave goodbye to dawn phenomenon. 
<br>
<br>Because congratulations…&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-1acf695b" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-48973166"><span style="font-weight: bold;">You Just Become Part of “The Restored”&nbsp;</span><br></span></p><p class="sc-dREXXX gMKZx pf-a1865b02" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-d31fa57e">You’ll become extremely productive like the Duracell Bunny – both at work and at home. 
<br>
<br>You can <span style="font-weight: bold;">effortlessly complete the to-do list</span> that seem so insurmountable before.
<br>
<br>Days become blessed weeks.
<br>
<br>By now… you can keep up with your grandkids. Your dry peeling skin improves. You sleep well through the night – uninterrupted by pain. 
<br>
<br>In 30 days, make an appointment to see your doctor.  Get ALL your numbers measured.
<br>
<br>If your physician failed to pick up his jaw off the ground… <span style="font-weight: bold;">Flabbergasted by your massive improvement…  
</span><br>
<br>Or if  he doesn’t do a double take because he can’t believe his eyes… 
<br>
<br>Or if, for any reason, you aren’t <span style="text-decoration-line: underline;">100% satisfied</span> with your results…
<br>
<br>…simply give us a call and we’ll give you back <span style="text-decoration-line: underline;">every penny</span>, <span style="font-weight: bold;">no questions asked</span>.
<br>
<br>… if your life hasn’t changed , <span style="font-style: italic;">we don’t want your money</span>.
<br>
<br>You can request a refund ANY time within 90 days of purchase.<br>
<br>Breaking free of old age is a long term game. And BrocElite is confident you’ll come out the winner – quickly and effortlessly.&nbsp;&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-6cb0ef48" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-4cf6b287"><span style="font-weight: bold;">So On The Bad Days That Make You Miss Your Youth…&nbsp;</span><br></span></p><p class="sc-dREXXX gMKZx pf-8e0ec905" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-512d52dd">If you end up looking back.
<br>
<br>Regretting you can’t remember precious memories like you use to... Reminiscing over the times you had the energy to party all night and paint the town red... Remembering when you didn’t have to watch your diet like a hawk...
<br>
<br>I gently urge you. 
<br>
<br>No, please stop.
<br>
<br>Because here’s the best news of all…&nbsp;&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-7d4fe026" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-6ba7c2e9"><span style="font-weight: bold;">BrocElite Redeems Your Past, While Giving You a Breathtaking Future to Look Forward to!&nbsp;</span><br></span></p><p class="sc-dREXXX gMKZx pf-6fe64e5a" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-1eaf2f83">Look Below This Video Right Now: 
<br>
<br>Click On The Orange Button That Says “Add To Cart” To Claim Your Discounted Price Now! 
<br>
<br>As if that’s not enough, when you act before this presentation ends…
<br><br><span style="font-weight: bold;">You get YET another free gift for you worth $27</span>.
<br>
<br>We present to you:
<br>
<br></span></p><p class="sc-dREXXX gMKZx pf-010c6438" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-e7cacc36"><span style="font-weight: bold;">FAST ACTION GIFT – 7 Day BerbElite&nbsp; Keto Diet Miracle: ($27)&nbsp;</span><br></span></p><p class="sc-dREXXX gMKZx pf-febd9bd7" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-2c90589d">Let’s see how we can take the BrocElite effects to a whole new level. 
<br>
<br>If you get BrocElite now, you’ll get a small sampler of BerbElite as well.
<br>
<br>It’s the ultimate weight loss formula! 
<br>
<br>With a combo of Berberine, Boswellia, 2 potent herbs used in Ayurvedic medicine, 
<br>
<br>Plus the potency of DNA Whisperer Sulforaphane... 
<br>
<br>It’ll turbo-charge your metabolic rate so you’ll melt away those stubborn pounds.
<br>
<br><span style="font-weight: bold;">That brings your total value to over $75... 
<br></span>
<br><span style="font-weight: bold;">Yet today, if you act now, it’s all yours for just 1 payment of only $39!&nbsp;<br></span>
<br>Remember: it’s not just a great bargain you’re getting today...&nbsp;<br>
<br>You’ll be a part of an ever-growing lifestyle-friendly community of the “Restored”
<br>
<br>You’ll get BrocElite in around a week. 
<br>
<br>All you need to do is <span style="font-weight: bold;">click on the orange button</span>. 
<br>
<br>Then fill up your details. 
<br>
<br>Choose either the one or the package deal that gives you substantial savings. 
<br>
<br>Then you’ll receive your bottles of BrocElite.
<br>
<br>Not only that, enjoy the free gifts and immediately <span style="font-weight: bold;">start seeing results</span> in your life.<br></span></p><p class="sc-dREXXX gMKZx pf-60aa76ea" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-688b31cf"><span style="font-weight: bold;">Let BrocElite create perfect health and make life worth living -- NOW!&nbsp;</span><br></span></p><p class="sc-dREXXX gMKZx pf-9f617056" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-c31a2b3e">This is one of those watershed moments in your life. Two paths lie before you:&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-a3bc94e8" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-c5e0febd"><span style="font-weight: bold;">1)&nbsp;&nbsp;You can bury your head in the sand.&nbsp;</span><br></span></p><p class="sc-dREXXX gMKZx pf-bc2835f3" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-4dbd89ce">In your heart of hearts, you probably know that’s an unwise response.
<br>
<br>I don’t mean to scare you... 
<br>
<br>If health is wealth, just turning older is tantamount to <span style="font-weight: bold;">getting a <span style="font-style: italic;">health bankruptcy notice. 
</span></span><br>
<br>So why spend a day longer having all those nasty symptoms chipping away at your wellness bank account? Why be a bystander as you endure DNA Erosion?
<br>
<br>Especially when the secret of <span style="font-weight: bold;">anti-aging is found in the bottle?</span> 
<br>
<br>BrocElite can help you “cancel all debt” and r<span style="font-weight: bold;">eturn your body to almost normal.</span> 
<br>
<br>Imagine the freedom you’ll feel. <span style="text-decoration-line: underline;">The worry leaving your body</span>. 
<br>
<br>Alternatively…&nbsp;<br></span></p><p class="sc-dREXXX gMKZx pf-85564a10" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-27407430"><span style="font-weight: bold;">2) You can take control of your life&nbsp;&nbsp;</span><br></span></p><p class="sc-dREXXX gMKZx pf-3fa4d71b" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jMMfwr doiSif pf-3d1871e0">Envision energy levels so potent you’re bouncing off the walls… 
<br>
<br>Savoring so many more years with your loved ones as you <span style="font-weight: bold;">create countless priceless memories…  
</span><br>
<br><span style="font-weight: bold;">Relishing previously taboo foods</span> with impunity…
<br>
<br>And most of all, <span style="font-weight: bold; text-decoration-line: underline;">taking back absolute control</span> of your body… 
<br>
<br>Because with the rush of NAD+, every other nasty symptom will be <span style="font-style: italic; font-weight: bold;">BANISHED </span>once and for all. 
<br> 
<br>All this from just one bottle of BrocElite… And a negligible 8 second routine to just drink water and down it… 
<br>
<br>You’ll become the walking picture of health you always wanted to be… Vigorous… Tingle-free… Leaving an inspiring legacy in the years to come. 
<br>
<br>Frankly, only one of these choices makes any sense at all. I encourage you--for your own sake and your family--<span style="font-weight: bold;">claim your bottle of BrocElite and 2 free gifts today</span>.
<br>
<br>To secure your bottle of the BrocElite ASAP, all you have to do is click on the ADD TO CART button below to gain exclusive access and get started today.
<br>
<br>It will take you to our <span style="font-weight: bold;">secure SSL-enforced reservation page</span>, where you can select your initial supply of <span style="font-style: italic; font-weight: bold;">BrocElite</span>. 
<br>
<br>This offer is only going to be offered for a limited time only at the special price of $69… After this, I’m going to quietly raise the prices
<br>
<br><span style="font-weight: bold;">Click the button now</span>. This is David Roberts signing off. I’ll see you on the other side.&nbsp;<br></span></p><a data-action="url" href="https://brocelite.com/pages/exclusive-bundles-offer" target="_self" data-pf-type="Image" class="sc-eInJlc bGlvSa pf-9ddb59a5"><picture class="sc-hgHYgh ljIkgU"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-c04962ff-58d9-45cb-b71e-51b10d7d277c--buy-smallest_800x3000.png?8466"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-c04962ff-58d9-45cb-b71e-51b10d7d277c--buy-smallest.png?8466"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-c04962ff-58d9-45cb-b71e-51b10d7d277c--buy-smallest_800x426.png?8466&resized"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-c04962ff-58d9-45cb-b71e-51b10d7d277c--buy-smallest_400x213.png?8466&resized 1x, https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-c04962ff-58d9-45cb-b71e-51b10d7d277c--buy-smallest_850x850.png?8466&resized 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-c04962ff-58d9-45cb-b71e-51b10d7d277c--buy-smallest_400x213.png?8466&resized 1x, https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-c04962ff-58d9-45cb-b71e-51b10d7d277c--buy-smallest.png?8466 2x"><img src="https://cdn.shopify.com/s/files/1/2807/1756/t/23/assets/pf-c04962ff-58d9-45cb-b71e-51b10d7d277c--buy-smallest.png?8466" alt="Bookshelf"></picture></a></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.7.6","elementData":{},"pageType":"page","pageId":"78c40a1d-8855-4883-aa09-0873822f64a3","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.7.6/core/helper.js?t=2020-02-13-10" defer></script>